# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

package-lock.json

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Repomix
repomix.config.json
repomix-*.txt
repomix-output.xml

.vscode/

# --- ВАША ЛОГІКА ---
# # 1. Спочатку ігноруємо все в src, крім папок, які нам потрібні
# /src/*
# !/src/app/
# !/src/shared/
# !/src/features/

# # 2. Тепер ігноруємо все в features, КРІМ qr-tables
# /src/features/*
# !/src/features/qr-tables/
# !/src/features/auth/