@import "tailwindcss";

@theme {
  --color-brand-espresso: #2A211C;
  --color-brand-mocha: #342923;
  --color-brand-cream: #F4EDE4;
  --color-brand-copper: #B87333;
  --color-brand-gray: #A89B90;
  --color-brand-gold: #D6B37A;
}

@layer base {
  html, body {
    height: 100%;
    background-color: var(--color-brand-espresso);
    color: var(--color-brand-cream);
  }
}